# Backup folder
backup

# Custom files (*sh includes sh, bash, zsh)
custom/**/*.*sh

# Ignore workspaces
vscode/User/workspaceStorage
vscode/User/vsicons.settings.json

# Local VSCode settings
.vscode
