[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "home/.config/iterm2/iTerm2-Color-Schemes"]
	path = home/.config/iterm2/iTerm2-Color-Schemes
	url = git@github.com:mbadolato/iTerm2-Color-Schemes.git
[submodule "home/.config/iterm2/awesome-terminal-backgrounds"]
	path = home/.config/iterm2/awesome-terminal-backgrounds
	url = git@github.com:drwpow/awesome-terminal-backrounds.git
[submodule "home/.local/repos/focus-manager"]
	path = home/.local/repos/focus-manager
	url = git@github.com:nickmorozov/focus-manager.git
