# Backup folder
backup

# Custom files (*sh includes sh, bash, zsh)
custom/**/*.*sh

# All configs
home/.config/*

# Exclude specific files from home/.config
!home/.config/agents/AGENTS.md
!home/.config/gh/config.yml
!home/.config/ghostty/config
!home/.config/husky/init.sh
!home/.config/yazi/yazi.toml
