# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
desktop.ini

# Thumbnail cache files
Thumbs.db

# Installed NPM modules
node_modules
npm-debug.log
yarn-error.log

# Installed Bower packages
bower_components

# Editor`s configs
*.sublime-*
.tern-project

# Ignore Westorm files
.idea