"*":
  "advanced-new-file": {}
  "advanced-open-file":
    helmDirSwitch: true
  alignment: {}
  "autocomplete-plus": {}
  core:
    autoHideMenuBar: true
    excludeVcsIgnoredPaths: false
    openEmptyEditorOnStart: false
    projectHome: "/home/denysdovhan/Projects"
  editor:
    backUpBeforeSaving: true
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
  emmet: {}
  "exception-reporting":
    userId: "917e3333-19f1-19a4-e39b-35a7f6602c02"
  "file-icons":
    onChanges: true
  "fuzzy-finder":
    ignoredNames: [
      "node_modules"
    ]
  jumpy:
    highContrast: true
  linter: {}
  "linter-eslint": {}
  "linter-htmlhint": {}
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-scss-lint": {}
  "linter-shellcheck": {}
  "merge-conflicts": {}
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
  "project-manager": {}
  react: {}
  "selector-to-tag": {}
  tabs:
    usePreviewTabs: true
  "tree-view":
    hideIgnoredNames: true
  "vim-mode":
    startInInsertMode: true
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "vim-mode-plus":
    startInInsertMode: true
  welcome:
    showOnStartup: false
